.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.sidebar-btn {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: black;
    color: var(--color-fg);
    border: none;
    cursor: pointer;
}
