:root {
    --color-fg: #e1e2e7;
    --color-bg: #16113a;

    --box-shadow: 0 2rem 3rem var(--color-hilight);

    --font-size: 14px;

    font-family: "Helvetica", "Arial", sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark-mode-variables {
    --color-bg: #181a1e;
    --color-white: #202528;
    --color-fg: #edeffd;
    --color-fg-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: var(--font-size);
}

body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    color: var(--color-fg);
    background-color: var(--color-bg);
}

a {
    color: var(--color-fg);
}


.primary {
    color: var(--color-primary);
}

#root {
    height: 100vh;
}
