:root {
    --color-primary: #6C98CF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-white: #fff;
    --color-fg: #363949;
    --color-hilight: rgba(132, 139, 200, 0.18);
    --color-bg: #F6F6F9;

    --card-border-radius: 2rem;
    --br-1: 0.4rem;
    --br-2: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-hilight);

    --font-size: 14px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark-mode-variables {
    --color-bg: #181a1e;
    --color-white: #202528;
    --color-fg: #edeffd;
    --color-fg-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: var(--font-size);
}

body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    color: var(--color-fg);
    background-color: var(--color-bg);
}

a {
    color: var(--color-fg);
}


.primary {
    color: var(--color-primary);
}
